.search-results-content::-webkit-scrollbar {
    /* width: 4px; */
    /* overflow: hidden; */
    height: 8px;
}

/* Track */
.search-results-content::-webkit-scrollbar-track {
    background-color: #F2F3F3;
    /* background: var(--color-neutral-500); */
    border-radius: 20px;
}

/* Handle */
.search-results-content::-webkit-scrollbar-thumb {
    background: var(--color-neutral-tint-3);
    border-radius: 20px;
}


/* Handle on hover */
.search-results-content::-webkit-scrollbar-thumb:hover {
    background: var(--color-neutral-tint-2);
}